PORT=3000
API_KEY=troque-por-uma-chave-longa-e-aleatoria
WEBFACTA_BASE_URL=https://desenv.facta.com.br/sistemaNovo
WEBFACTA_USER=seu_usuario
WEBFACTA_PASSWORD=sua_senha
REQUEST_DELAY_MS=1000
MAX_CPFS_PER_REQUEST=100

